In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
#sorted(glob('../data/*'))

In [3]:
df = utils.read_pickles('../data/installments_payments').sort_values(['SK_ID_CURR', 'DAYS_INSTALMENT'], ascending=[True, False])
df.head()

100%|██████████| 20/20 [00:01<00:00, 16.24it/s]

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
2624024,1369693,100001,2.0,4,-1619.0,-1628.0,17397.900,17397.900
3458712,1369693,100001,1.0,3,-1649.0,-1660.0,3951.000,3951.000
2568722,1369693,100001,1.0,2,-1679.0,-1715.0,3951.000,3951.000
1478621,1369693,100001,1.0,1,-1709.0,-1715.0,3951.000,3951.000
3435373,1851984,100001,1.0,4,-2856.0,-2856.0,3980.925,3980.925

In [4]:
EDA.df_info(df)

Shape: (13605401, 8)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt
SK_ID_PREV,int64,0,997752,1000001.0,1.903365e+06,2843499.000,536202.905546,"[2360056, 2592574, 1017477, 1449382, 1746731, ...","[293, 279, 248, 243, 236, 223, 222, 220, 219, ..."
SK_ID_CURR,int64,0,339587,100001.0,2.784449e+05,456255.000,102718.310411,"[145728, 296205, 453103, 189699, 186851, 17269...","[372, 350, 347, 344, 337, 336, 332, 324, 323, ..."
NUM_INSTALMENT_VERSION,float64,0,65,0.0,8.566373e-01,178.000,1.035216,"[1.0, 0.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 9.0, ...","[8485004, 4082498, 620283, 237063, 55274, 4840..."
NUM_INSTALMENT_NUMBER,int64,0,277,1.0,1.887090e+01,277.000,26.664067,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[1004160, 985716, 968279, 943502, 880007, 8279..."
DAYS_INSTALMENT,float64,0,2922,-2922.0,-1.042270e+03,-1.000,800.946284,"[-120.0, -180.0, -150.0, -119.0, -149.0, -210....","[11512, 11212, 11194, 11183, 11144, 11140, 111..."
DAYS_ENTRY_PAYMENT,float64,2905,3039,-4921.0,-1.051114e+03,-1.000,800.585883,"[-91.0, -182.0, -154.0, -92.0, -245.0, -273.0,...","[13103, 13090, 13071, 12646, 12405, 12151, 119..."
AMT_INSTALMENT,float64,0,902539,0.0,1.705091e+04,3771487.845,50570.254429,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[254062, 179120, 174143, 173659, 149941, 96362..."
AMT_PAYMENT,float64,2905,944235,0.0,1.723822e+04,3771487.845,54735.783981,"[9000.0, 2250.0, 4500.0, 6750.0, 3375.0, 5625....","[248757, 182654, 178309, 170360, 141832, 91165..."

In [5]:
df.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [6]:
ids = df.SK_ID_CURR.unique()

In [7]:
tmp = df[df.SK_ID_CURR==np.random.choice(ids)]
tmp

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
6055279,1743950,203412,0.0,9,-14.0,-14.0,115.380,115.380
6433052,1743950,203412,0.0,8,-20.0,-14.0,4834.620,4834.620
7281471,1765477,203412,1.0,11,-23.0,-97.0,8484.795,8484.795
6691065,1743950,203412,0.0,7,-48.0,-48.0,4095.675,4095.675
6307103,1743950,203412,0.0,6,-50.0,-48.0,4904.325,4904.325
6309459,1765477,203412,1.0,10,-53.0,-131.0,8484.795,8484.795
7441978,1743950,203412,0.0,5,-80.0,-80.0,2356.560,2356.560
6567624,1743950,203412,0.0,4,-81.0,-80.0,4393.440,4393.440
4578869,1765477,203412,1.0,9,-83.0,-160.0,8484.795,8484.795
7246010,1743950,203412,0.0,3,-110.0,-110.0,6750.000,6750.000
6041159,1743950,203412,0.0,2,-111.0,-110.0,2250.000,2250.000
4397282,1765477,203412,1.0,8,-113.0,-189.0,8484.795,8484.795
5500984,1743950,203412,0.0,1,-131.0,-131.0,31500.000,31500.000
5274134,1765477,203412,1.0,7,-143.0,-201.0,8484.795,8484.795
5456207,1774772,203412,1.0,12,-164.0,-201.0,6708.960,6708.960
7167832,1765477,203412,1.0,6,-173.0,-218.0,8484.795,8484.795
4143435,1774772,203412,1.0,11,-194.0,-232.0,6718.005,6718.005
5965879,1765477,203412,1.0,5,-203.0,-251.0,8484.795,8484.795
5084308,1774772,203412,1.0,10,-224.0,-262.0,6718.005,6718.005
5314480,1765477,203412,1.0,4,-233.0,-272.0,8484.795,8484.795
7014575,1774772,203412,1.0,9,-254.0,-297.0,6718.005,6718.005
4038477,1765477,203412,1.0,3,-263.0,-297.0,8484.795,8484.795
7303311,1774772,203412,1.0,8,-284.0,-297.0,6718.005,6718.005
4725941,1765477,203412,1.0,2,-293.0,-340.0,8484.795,8484.795
4725987,1774772,203412,1.0,7,-314.0,-340.0,6718.005,6718.005
4564600,1765477,203412,1.0,1,-323.0,-348.0,8484.795,8484.795
7498159,1774772,203412,1.0,6,-344.0,-353.0,6718.005,6718.005
3928591,1774772,203412,1.0,5,-374.0,-432.0,6718.005,6718.005
5175732,1774772,203412,1.0,4,-404.0,-446.0,6718.005,6718.005
7588521,1774772,203412,1.0,3,-434.0,-446.0,6718.005,6718.005
4790675,1774772,203412,1.0,2,-464.0,-478.0,6718.005,6718.005
3892316,1774772,203412,1.0,1,-494.0,-509.0,6718.005,6718.005