In [1]:
import pandas as pd
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils

In [2]:
sorted(glob('../input/*'))

['../input/HomeCredit_columns_description.csv',
 '../input/POS_CASH_balance.csv.zip',
 '../input/application_test.csv.zip',
 '../input/application_train.csv.zip',
 '../input/bureau.csv.zip',
 '../input/bureau_balance.csv.zip',
 '../input/credit_card_balance.csv.zip',
 '../input/installments_payments.csv.zip',
 '../input/previous_application.csv.zip',
 '../input/sample_submission.csv.zip']

In [3]:
bureau = pd.read_csv('../input/bureau.csv.zip')
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [4]:
EDA.df_info(bureau)

Shape: (1716428, 17)

                       DataType   #Nulls  #Uniques
SK_ID_CURR                int64        0    305811
SK_ID_BUREAU              int64        0   1716428
CREDIT_ACTIVE            object        0         4
CREDIT_CURRENCY          object        0         4
DAYS_CREDIT               int64        0      2923
CREDIT_DAY_OVERDUE        int64        0       942
DAYS_CREDIT_ENDDATE     float64   105553     14096
DAYS_ENDDATE_FACT       float64   633653      2917
AMT_CREDIT_MAX_OVERDUE  float64  1124488     68251
CNT_CREDIT_PROLONG        int64        0        10
AMT_CREDIT_SUM          float64       13    236708
AMT_CREDIT_SUM_DEBT     float64   257669    226537
AMT_CREDIT_SUM_LIMIT    float64   591780     51726
AMT_CREDIT_SUM_OVERDUE  float64        0      1616
CREDIT_TYPE              object        0        15
DAYS_CREDIT_UPDATE        int64        0      2982
AMT_ANNUITY             float64  1226791     40321

In [7]:
bureau.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [6]:
bureau.sort_values(['SK_ID_CURR', 'DAYS_CREDIT'], inplace=True)
bureau.head(30)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.000,113166.0,0.000,0.0,Consumer credit,-6,4630.5
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.000,110281.5,NaN,0.0,Consumer credit,-10,9364.5
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.000,373239.0,0.000,0.0,Consumer credit,-16,10822.5
675686,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0
675684,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0
675687,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0
1486113,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0
1337779,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0
675688,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0
675685,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN
675689,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0
1024666,100003,5885877,Closed,currency 1,-2586,0,-2434.0,-2131.0,0.000,0,22248.000,0.0,0.000,0.0,Consumer credit,-2131,NaN
1024667,100003,5885878,Closed,currency 1,-1636,0,-540.0,-540.0,0.000,0,112500.000,0.0,0.000,0.0,Credit card,-540,NaN
1024668,100003,5885879,Closed,currency 1,-775,0,-420.0,-621.0,0.000,0,72652.500,0.0,0.000,0.0,Consumer credit,-550,NaN
1024669,100003,5885880,Active,currency 1,-606,0,1216.0,NaN,0.000,0,810000.000,0.0,810000.000,0.0,Credit card,-43,NaN
363104,100004,6829133,Closed,currency 1,-1326,0,-595.0,-683.0,NaN,0,94500.000,0.0,0.000,0.0,Consumer credit,-682,NaN
363105,100004,6829134,Closed,currency 1,-408,0,-382.0,-382.0,0.000,0,94537.800,0.0,0.000,0.0,Consumer credit,-382,NaN
1421814,100005,6735200,Closed,currency 1,-373,0,-128.0,-123.0,NaN,0,58500.000,0.0,0.000,0.0,Credit card,-121,0.0
1421815,100005,6735201,Active,currency 1,-137,0,1324.0,NaN,NaN,0,568800.000,543087.0,0.000,0.0,Consumer credit,-11,0.0
1421816,100005,6735202,Active,currency 1,-62,0,122.0,NaN,0.000,0,29826.000,25321.5,0.000,0.0,Consumer credit,-31,4261.5
1503966,100007,5987200,Closed,currency 1,-1149,0,-783.0,-783.0,0.000,0,146250.000,0.0,0.000,0.0,Consumer credit,-783,NaN
718761,100008,6491433,Closed,currency 1,-1097,0,-853.0,-1028.0,NaN,0,105705.000,0.0,0.000,0.0,Consumer credit,-1027,NaN
1616817,100008,6491432,Closed,currency 1,-1097,0,-792.0,-790.0,NaN,0,95134.500,0.0,0.000,0.0,Consumer credit,-790,NaN
718762,100008,6491434,Active,currency 1,-78,0,471.0,NaN,0.000,0,267606.000,240057.0,0.000,0.0,Consumer credit,-16,NaN
1279720,100009,5651005,Closed,currency 1,-2882,0,-2152.0,-2152.0,NaN,0,247500.000,NaN,NaN,0.0,Consumer credit,-2152,NaN
1279725,100009,5651011,Closed,currency 1,-2018,0,-1774.0,-1774.0,0.000,0,35770.500,0.0,0.000,0.0,Consumer credit,-1518,NaN