In [5]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
sorted(glob('../input/*'))

['../input/HomeCredit_columns_description.csv',
 '../input/POS_CASH_balance.csv.zip',
 '../input/application_test.csv.zip',
 '../input/application_train.csv.zip',
 '../input/bureau.csv.zip',
 '../input/bureau_balance.csv.zip',
 '../input/credit_card_balance.csv.zip',
 '../input/installments_payments.csv.zip',
 '../input/previous_application.csv.zip',
 '../input/sample_submission.csv.zip']

In [2]:
df = pd.read_csv('../input/bureau_balance.csv.zip')
df.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [3]:
EDA.df_info(df)

Shape: (27299925, 3)

               DataType  #Nulls  #Uniques
SK_ID_BUREAU      int64       0    817395
MONTHS_BALANCE    int64       0        97
STATUS           object       0         8

In [4]:
df.sort_values(['SK_ID_BUREAU', 'MONTHS_BALANCE'], inplace=True)
df

          SK_ID_BUREAU  MONTHS_BALANCE STATUS
26079849       5001709             -96      X
26079848       5001709             -95      X
26079847       5001709             -94      X
26079846       5001709             -93      X
26079845       5001709             -92      X
26079844       5001709             -91      X
26079843       5001709             -90      X
26079842       5001709             -89      X
26079841       5001709             -88      X
26079840       5001709             -87      X
26079839       5001709             -86      X
26079838       5001709             -85      C
26079837       5001709             -84      C
26079836       5001709             -83      C
26079835       5001709             -82      C
26079834       5001709             -81      C
26079833       5001709             -80      C
26079832       5001709             -79      C
26079831       5001709             -78      C
26079830       5001709             -77      C
26079829       5001709             -76      C
26079828       5001709             -75      C
26079827       5001709             -74      C
26079826       5001709             -73      C
26079825       5001709             -72      C
26079824       5001709             -71      C
26079823       5001709             -70      C
26079822       5001709             -69      C
26079821       5001709             -68      C
26079820       5001709             -67      C
26079819       5001709             -66      C
26079818       5001709             -65      C
26079817       5001709             -64      C
26079816       5001709             -63      C
26079815       5001709             -62      C
26079814       5001709             -61      C
26079813       5001709             -60      C
26079812       5001709             -59      C
26079811       5001709             -58      C
26079810       5001709             -57      C
26079809       5001709             -56      C
26079808       5001709             -55      C
26079807       5001709             -54      C
26079806       5001709             -53      C
26079805       5001709             -52      C
26079804       5001709             -51      C
26079803       5001709             -50      C
26079802       5001709             -49      C
26079801       5001709             -48      C
...                ...             ...    ...
23544051       6842888             -48      C
23544050       6842888             -47      C
23544049       6842888             -46      C
23544048       6842888             -45      C
23544047       6842888             -44      C
23544046       6842888             -43      C
23544045       6842888             -42      C
23544044       6842888             -41      C
23544043       6842888             -40      C
23544042       6842888             -39      C
23544041       6842888             -38      C
23544040       6842888             -37      C
23544039       6842888             -36      C
23544038       6842888             -35      C
23544037       6842888             -34      C
23544036       6842888             -33      C
23544035       6842888             -32      C
23544034       6842888             -31      C
23544033       6842888             -30      C
23544032       6842888             -29      C
23544031       6842888             -28      C
23544030       6842888             -27      C
23544029       6842888             -26      C
23544028       6842888             -25      C
23544027       6842888             -24      C
23544026       6842888             -23      C
23544025       6842888             -22      C
23544024       6842888             -21      C
23544023       6842888             -20      C
23544022       6842888             -19      C
23544021       6842888             -18      C
23544020       6842888             -17      C
23544019       6842888             -16      C
23544018       6842888             -15      C
23544017       6842888             -14      C
23544016       6842888             -13      C
23544015       6842888             -12      C
23544014       6842888             -11      C
23544013       6842888             -10      C
23544012       6842888              -9      C
23544011       6842888              -8      C
23544010       6842888              -7      C
23544009       6842888              -6      C
23544008       6842888              -5      C
23544007       6842888              -4      C
23544006       6842888              -3      C
23544005       6842888              -2      C
23544004       6842888              -1      C
23544003       6842888               0      C

[27299925 rows x 3 columns]

In [6]:
ids = df.SK_ID_BUREAU.unique()

In [10]:
df[df.SK_ID_BUREAU==np.random.choice(ids)]

         SK_ID_BUREAU  MONTHS_BALANCE STATUS
9289569       6130888             -19      0
9289568       6130888             -18      0
9289567       6130888             -17      0
9289566       6130888             -16      0
9289565       6130888             -15      0
9289564       6130888             -14      0
9289563       6130888             -13      0
9289562       6130888             -12      0
9289561       6130888             -11      0
9289560       6130888             -10      0
9289559       6130888              -9      0
9289558       6130888              -8      0
9289557       6130888              -7      0
9289556       6130888              -6      0
9289555       6130888              -5      0
9289554       6130888              -4      0
9289553       6130888              -3      C
9289552       6130888              -2      C
9289551       6130888              -1      C
9289550       6130888               0      C