In [1]:
import pandas as pd
import numpy as np
from glob import glob
from IPython.display import display
pd.set_option('display.max_columns', 99)
pd.set_option('display.max_rows', 99)
import EDA
import utils
sorted(glob('../data/*'))

['../data/101_test',
 '../data/101_train',
 '../data/102_CHANNEL_TYPE_test',
 '../data/102_CHANNEL_TYPE_train',
 '../data/102_CODE_REJECT_REASON_test',
 '../data/102_CODE_REJECT_REASON_train',
 '../data/102_NAME_CASH_LOAN_PURPOSE_test',
 '../data/102_NAME_CASH_LOAN_PURPOSE_train',
 '../data/102_NAME_CLIENT_TYPE_test',
 '../data/102_NAME_CLIENT_TYPE_train',
 '../data/102_NAME_CONTRACT_STATUS_test',
 '../data/102_NAME_CONTRACT_STATUS_train',
 '../data/102_NAME_CONTRACT_TYPE_test',
 '../data/102_NAME_CONTRACT_TYPE_train',
 '../data/102_NAME_GOODS_CATEGORY_test',
 '../data/102_NAME_GOODS_CATEGORY_train',
 '../data/102_NAME_PAYMENT_TYPE_test',
 '../data/102_NAME_PAYMENT_TYPE_train',
 '../data/102_NAME_PORTFOLIO_test',
 '../data/102_NAME_PORTFOLIO_train',
 '../data/102_NAME_PRODUCT_TYPE_test',
 '../data/102_NAME_PRODUCT_TYPE_train',
 '../data/102_NAME_SELLER_INDUSTRY_test',
 '../data/102_NAME_SELLER_INDUSTRY_train',
 '../data/102_NAME_TYPE_SUITE_test',
 '../data/102_NAME_TYPE_SUITE_train',
 '../data/102_NAME_YIELD_GROUP_test',
 '../data/102_NAME_YIELD_GROUP_train',
 '../data/102_PRODUCT_COMBINATION_test',
 '../data/102_PRODUCT_COMBINATION_train',
 '../data/102_SK_ID_PREV_test',
 '../data/102_SK_ID_PREV_train',
 '../data/102_WEEKDAY_APPR_PROCESS_START_test',
 '../data/102_WEEKDAY_APPR_PROCESS_START_train',
 '../data/102_test',
 '../data/102_train',
 '../data/103_test',
 '../data/103_train',
 '../data/104_test',
 '../data/104_train',
 '../data/105_test',
 '../data/105_train',
 '../data/POS_CASH_balance',
 '../data/bureau',
 '../data/bureau_balance',
 '../data/credit_card_balance',
 '../data/installments_payments',
 '../data/label',
 '../data/previous_application',
 '../data/sub.p',
 '../data/test',
 '../data/tmp_bureau_CREDIT_ACTIVE.p',
 '../data/tmp_bureau_CREDIT_CURRENCY.p',
 '../data/tmp_bureau_CREDIT_TYPE.p',
 '../data/tmp_ins_NUM_INSTALMENT_NUMBER.p',
 '../data/tmp_ins_NUM_INSTALMENT_VERSION.p',
 '../data/tmp_ins_SK_ID_PREV.p',
 '../data/train']

In [2]:
df = utils.read_pickles('../data/bureau')
df.head()

100%|██████████| 20/20 [00:02<00:00,  8.59it/s]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [3]:
EDA.df_info(df)

Shape: (1716428, 17)

,DataType,#Nulls,#Uniques,Min,Mean,Max,Std,top10 val,top10 cnt
SK_ID_CURR,int64,0,305811,100001.000,2.782149e+05,4.562550e+05,1.029386e+05,"[120860, 169704, 318065, 251643, 425396, 29580...","[116, 94, 78, 61, 60, 59, 58, 57, 56, 55]"
SK_ID_BUREAU,int64,0,1716428,5000000.000,5.924434e+06,6.843457e+06,5.322657e+05,"[5000822, 6547158, 6487797, 6481654, 6483703, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
CREDIT_ACTIVE,object,0,4,NaN,NaN,NaN,NaN,"['Closed', 'Active', 'Sold', 'Bad debt']","[1079273, 630607, 6527, 21]"
CREDIT_CURRENCY,object,0,4,NaN,NaN,NaN,NaN,"['currency 1', 'currency 2', 'currency 3', 'cu...","[1715020, 1224, 174, 10]"
DAYS_CREDIT,int64,0,2923,-2922.000,-1.142108e+03,0.000000e+00,7.951649e+02,"[-364, -336, -273, -357, -343, -315, -371, -36...","[1330, 1248, 1238, 1218, 1203, 1202, 1196, 119..."
CREDIT_DAY_OVERDUE,int64,0,942,0.000,8.181666e-01,2.792000e+03,3.654443e+01,"[0, 30, 60, 13, 8, 9, 7, 14, 17, 11]","[1712211, 311, 126, 103, 103, 93, 92, 91, 77, 75]"
DAYS_CREDIT_ENDDATE,float64,105553,14096,-42060.000,5.105174e+02,3.119900e+04,4.994220e+03,"[0.0, 3.0, -7.0, 1.0, -14.0, -10.0, 4.0, -2.0,...","[883, 845, 837, 830, 787, 782, 777, 772, 771, ..."
DAYS_ENDDATE_FACT,float64,633653,2917,-42023.000,-1.017437e+03,0.000000e+00,7.140106e+02,"[-329.0, -273.0, -301.0, -91.0, -84.0, -154.0,...","[811, 794, 791, 785, 783, 783, 782, 778, 778, ..."
AMT_CREDIT_MAX_OVERDUE,float64,1124488,68251,0.000,3.825418e+03,1.159872e+08,2.060316e+05,"[0.0, 1440.0, 225.0, 45.0, 4.5, 90.0, 4500.0, ...","[470650, 688, 405, 377, 315, 222, 220, 192, 19..."
CNT_CREDIT_PROLONG,int64,0,10,0.000,6.410406e-03,9.000000e+00,9.622391e-02,"[0, 1, 2, 3, 4, 5, 9, 6, 8, 7]","[1707314, 7620, 1222, 191, 54, 21, 2, 2, 1, 1]"
AMT_CREDIT_SUM,float64,13,236708,0.000,3.549946e+05,5.850000e+08,1.149811e+06,"[0.0, 225000.0, 135000.0, 450000.0, 90000.0, 1...","[66582, 57608, 50195, 37156, 36940, 28840, 265..."
AMT_CREDIT_SUM_DEBT,float64,257669,226537,-4705600.320,1.370851e+05,1.701000e+08,6.774011e+05,"[0.0, 4.5, -450.0, 135000.0, 90000.0, 45000.0,...","[1016434, 653, 543, 344, 320, 316, 307, 238, 2..."
AMT_CREDIT_SUM_LIMIT,float64,591780,51726,-586406.115,6.229515e+03,4.705600e+06,4.503203e+04,"[0.0, 135000.0, 4500.0, 45000.0, 90000.0, 1350...","[1050142, 2178, 1474, 1335, 974, 833, 766, 757..."
AMT_CREDIT_SUM_OVERDUE,float64,0,1616,0.000,3.791276e+01,3.756681e+06,5.937650e+03,"[0.0, 4.5, 9.0, 13.5, 18.0, 22.5, 45.0, 27.0, ...","[1712270, 301, 107, 81, 72, 60, 56, 52, 50, 48]"
CREDIT_TYPE,object,0,15,NaN,NaN,NaN,NaN,"['Consumer credit', 'Credit card', 'Car loan',...","[1251615, 402195, 27690, 18391, 12413, 1975, 1..."
DAYS_CREDIT_UPDATE,int64,0,2982,-41947.000,-5.937483e+02,3.720000e+02,7.207473e+02,"[-7, -8, -11, -15, -12, -10, -9, -13, -6, -14]","[18503, 18462, 16975, 16870, 16827, 16651, 165..."
AMT_ANNUITY,float64,1226791,40321,0.000,1.571276e+04,1.184534e+08,3.258269e+05,"[0.0, 4500.0, 13500.0, 22500.0, 9000.0, 18000....","[256915, 5182, 3147, 2502, 1725, 1605, 1593, 1..."

In [4]:
df.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [6]:
df.sort_values(['SK_ID_CURR', 'DAYS_CREDIT'], inplace=True)
df.head(30)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
248487,100001,5896633,Closed,currency 1,-1572,0,-1329.0,-1328.0,NaN,0,85500.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248485,100001,5896631,Closed,currency 1,-909,0,-179.0,-877.0,NaN,0,279720.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248486,100001,5896632,Closed,currency 1,-879,0,-514.0,-544.0,NaN,0,91620.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248484,100001,5896630,Closed,currency 1,-857,0,-492.0,-553.0,NaN,0,112500.000,0.0,0.000,0.0,Consumer credit,-155,0.0
248488,100001,5896634,Active,currency 1,-559,0,902.0,NaN,NaN,0,337680.000,113166.0,0.000,0.0,Consumer credit,-6,4630.5
248490,100001,5896636,Active,currency 1,-320,0,411.0,NaN,NaN,0,168345.000,110281.5,NaN,0.0,Consumer credit,-10,9364.5
248489,100001,5896635,Active,currency 1,-49,0,1778.0,NaN,NaN,0,378000.000,373239.0,0.000,0.0,Consumer credit,-16,10822.5
675686,100002,6158906,Closed,currency 1,-1437,0,-1072.0,-1185.0,0.000,0,135000.000,0.0,0.000,0.0,Consumer credit,-1185,0.0
675684,100002,6158904,Closed,currency 1,-1125,0,-1038.0,-1038.0,NaN,0,40761.000,NaN,NaN,0.0,Credit card,-1038,0.0
675687,100002,6158907,Closed,currency 1,-1121,0,-911.0,-911.0,3321.000,0,19071.000,NaN,NaN,0.0,Consumer credit,-906,0.0
1486113,100002,6113835,Closed,currency 1,-1043,0,62.0,-967.0,0.000,0,67500.000,NaN,NaN,0.0,Credit card,-758,0.0
1337779,100002,6158903,Active,currency 1,-1042,0,780.0,NaN,NaN,0,450000.000,245781.0,0.000,0.0,Consumer credit,-7,0.0
675688,100002,6158908,Closed,currency 1,-645,0,85.0,-36.0,5043.645,0,120735.000,0.0,0.000,0.0,Consumer credit,-34,0.0
675685,100002,6158905,Closed,currency 1,-476,0,NaN,-48.0,NaN,0,0.000,0.0,NaN,0.0,Credit card,-47,NaN
675689,100002,6158909,Active,currency 1,-103,0,NaN,NaN,40.500,0,31988.565,0.0,31988.565,0.0,Credit card,-24,0.0
1024666,100003,5885877,Closed,currency 1,-2586,0,-2434.0,-2131.0,0.000,0,22248.000,0.0,0.000,0.0,Consumer credit,-2131,NaN
1024667,100003,5885878,Closed,currency 1,-1636,0,-540.0,-540.0,0.000,0,112500.000,0.0,0.000,0.0,Credit card,-540,NaN
1024668,100003,5885879,Closed,currency 1,-775,0,-420.0,-621.0,0.000,0,72652.500,0.0,0.000,0.0,Consumer credit,-550,NaN
1024669,100003,5885880,Active,currency 1,-606,0,1216.0,NaN,0.000,0,810000.000,0.0,810000.000,0.0,Credit card,-43,NaN
363104,100004,6829133,Closed,currency 1,-1326,0,-595.0,-683.0,NaN,0,94500.000,0.0,0.000,0.0,Consumer credit,-682,NaN
363105,100004,6829134,Closed,currency 1,-408,0,-382.0,-382.0,0.000,0,94537.800,0.0,0.000,0.0,Consumer credit,-382,NaN
1421814,100005,6735200,Closed,currency 1,-373,0,-128.0,-123.0,NaN,0,58500.000,0.0,0.000,0.0,Credit card,-121,0.0
1421815,100005,6735201,Active,currency 1,-137,0,1324.0,NaN,NaN,0,568800.000,543087.0,0.000,0.0,Consumer credit,-11,0.0
1421816,100005,6735202,Active,currency 1,-62,0,122.0,NaN,0.000,0,29826.000,25321.5,0.000,0.0,Consumer credit,-31,4261.5
1503966,100007,5987200,Closed,currency 1,-1149,0,-783.0,-783.0,0.000,0,146250.000,0.0,0.000,0.0,Consumer credit,-783,NaN
718761,100008,6491433,Closed,currency 1,-1097,0,-853.0,-1028.0,NaN,0,105705.000,0.0,0.000,0.0,Consumer credit,-1027,NaN
1616817,100008,6491432,Closed,currency 1,-1097,0,-792.0,-790.0,NaN,0,95134.500,0.0,0.000,0.0,Consumer credit,-790,NaN
718762,100008,6491434,Active,currency 1,-78,0,471.0,NaN,0.000,0,267606.000,240057.0,0.000,0.0,Consumer credit,-16,NaN
1279720,100009,5651005,Closed,currency 1,-2882,0,-2152.0,-2152.0,NaN,0,247500.000,NaN,NaN,0.0,Consumer credit,-2152,NaN
1279725,100009,5651011,Closed,currency 1,-2018,0,-1774.0,-1774.0,0.000,0,35770.500,0.0,0.000,0.0,Consumer credit,-1518,NaN

In [6]:
ids = df.SK_ID_CURR.unique()

In [8]:
tmp = df[df.SK_ID_CURR==np.random.choice(ids)]
tmp

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
322342,239076,5533456,Active,currency 1,-1651,0,-555.0,NaN,NaN,0,741357.0,0.000,0.0,0.0,Consumer credit,-543,NaN
322343,239076,5533457,Closed,currency 1,-2712,0,-2617.0,-2298.0,NaN,0,23571.0,NaN,NaN,0.0,Consumer credit,-2298,NaN
322344,239076,5533458,Closed,currency 1,-2614,0,-2460.0,-2477.0,NaN,0,29155.5,0.000,NaN,0.0,Consumer credit,-1740,NaN
322345,239076,5533459,Closed,currency 1,-2565,0,-2383.0,-2383.0,NaN,0,58500.0,0.000,NaN,0.0,Credit card,-746,NaN
322346,239076,5533460,Active,currency 1,-2460,0,-633.0,NaN,0.0,0,1935000.0,94649.445,0.0,0.0,Consumer credit,-694,NaN
322347,239076,5533461,Closed,currency 1,-1486,0,-1302.0,-1302.0,0.0,0,51399.0,NaN,NaN,0.0,Consumer credit,-1297,NaN
370058,239076,5533455,Closed,currency 1,-2615,0,-2460.0,-2446.0,NaN,0,29155.5,0.000,0.0,0.0,Consumer credit,-804,NaN